
*.pdb
.vs/AnimalsFriends/config/applicationhost.config
.vs/AnimalsFriends/DesignTimeBuild/.dtbcache.v2
.vs/AnimalsFriends/v16/.suo
bin/Debug/netcoreapp3.0/AnimalsFriends.deps.json
bin/Debug/netcoreapp3.0/AnimalsFriends.dll
bin/Debug/netcoreapp3.0/AnimalsFriends.pdb
bin/Debug/netcoreapp3.0/AnimalsFriends.runtimeconfig.dev.json
obj/AnimalsFriends.csproj.nuget.dgspec.json
obj/AnimalsFriends.csproj.nuget.g.props
obj/Debug/netcoreapp3.0/AnimalsFriends.assets.cache
obj/Debug/netcoreapp3.0/AnimalsFriends.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.0/AnimalsFriends.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/AnimalsFriends.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/AnimalsFriends.dll
obj/Debug/netcoreapp3.0/AnimalsFriends.genruntimeconfig.cache
obj/Debug/netcoreapp3.0/AnimalsFriends.pdb
obj/project.assets.json
obj/Debug/netcoreapp3.0/AnimalsFriends.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.0/AnimalsFriends.assets.cache
*.dll
*.cache
*.cache
*.v2
*.cache
*.dll
*.pdb
*.cache
*.pdb
*.dll
*.cache
*.txt
*.pdb
*.pdb
bin/Debug/netcoreapp3.0/AnimalsFriends.deps.json
